@media (max-width: 767px){

    .header{
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        padding-top: 15px;
        padding-bottom: 15px;
        }
        .header2{
            width: 100%;
            background-position: center;
            padding-top: 15px;
            padding-bottom: 15px;
        }
        .h1{
            font-size: 18px;
        }
        h2{
            font-size: 15px;
        }
        .text{
            font-size: 12px;
        }
        .menu{
            font-size: 15px;
        }
        .aea{
            margin-bottom: 195px;
        }
        .caes{
            width: 20px;
            height: 20px;
        }
        .hert{
            font-size: 12px;
        }
        .hert1{
            font-size: 12px;
        }
        .hert2{
            font-size: 12px;
            opacity: 0;
            display: none;
        }
        .hert3{
            font-size: 12px;
            opacity: 0;
            display: none;
        }
        .piwo{
            opacity: 0;
            display: none;
        }
        .klei{
            display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    margin-bottom: 45px;
        }
        .klei1{
            opacity: 0;
            display: none;
        }
        .infa{
            margin-left:0px ;
            padding-right: 0px;
            text-align: center;
            margin-top: 25px;
            padding-left: 40px;
            padding-right: 40px;
         
        }
        .pogo{
            width: 320px;
        }
        .aber{
            flex-direction: column;
        }
        .lpow{
            font-size: 18px;

        }
        .kinec{
            font-size: 14px;
            text-align: center;
        }
        .aea{
            margin-bottom: 190px;
        }
        .meny{
            gap: 32px;
            flex-wrap: wrap;
            margin-top: 10px;
        }
        .Pierogi{
            justify-content: center;
        gap: 50px;
        flex-direction: column;
        margin-bottom: 50px;
        }
        .Salatki{
            justify-content: center;
        gap: 50px;
        flex-direction: column;
        margin-bottom: 50px;
        }
        .Salatki1{
            justify-content: center;
        gap: 50px;
        flex-direction: column;
        margin-bottom:25px;
        }
        .Pelmeni{
            justify-content: center;
        gap: 50px;
        flex-direction: column;
        margin-bottom:25px;
        }
        .Zupa{
            justify-content: center;
        gap: 50px;
        flex-direction: column;
        margin-bottom: 50px;
        }
        .Zupa1{
            margin-bottom: 25px;
        }
        .Pierogi1{
            justify-content: center;
            flex-direction: column;
        gap: 50px;
        margin-bottom: 50px;
        }
        .Pierogi3{
            justify-content: center;
        gap: 50px;
        flex-direction: column;
        margin-bottom:25px;
        }
        .toi{
            margin-bottom: 50px;
        }
        .pierogi{
            font-size: 14px;
        }
        .textr1{
            font-size: 14px;
            width: auto; 
           height: auto;
            margin-bottom: 75px;
        }
        .textr{
            font-size: 14px;
            width: auto;
            height: auto;
            margin-bottom: 85px;
        }
        .zasta{
            padding-top: 40px;
    padding-left: 45px;
    padding-right: 45px;
    padding-bottom: 40px;
        }
        .dosta{
            font-size: 17px;
        }
        .goscie{
            font-size: 17px;
        }
        .starr{
            width: 18px;
            height: 18px;
        }
        .osobi{
            padding-left: 45px;
            padding-right: 45px;
         
        }
        .nazwi{
            font-size: 14px;
        }
        .otzuw{
            height: auto;

        }
        .osoby{
            flex-wrap: wrap;
        }
        .osoba1{
            margin-bottom: 40px;
        }
        .prac{
            font-size: 13px;
        }
}